@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

:root {
  --main-color: #FDD99F; 
  --secondary-color: #D1D6FD; 
  --border-color: #eeaeca;
  --main-font: "Nunito";
  --secondary-font: "Poppins";
  --third-font: "Kalam";
}

body {
  font-family: 'Rubik', sans-serif;
}

h2, h3 {
  font-family: Nunito;
}

p {
  font-family: Kalam;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 36px;
  font-family: Nunito;
  color: var(--main-color);
}