
.footer-container {
    border-top: solid 3px #FDD99F;
    padding-top: 5%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 7%;
}

.donate-field {
    display: block;
}

.footer-container h2 {
    font-family: Nunito;
    margin-bottom: 10%;
}

.button-area {
    display: flex;
    justify-content: center;
}

.contact-field {
    text-align: center;
    font-family: Nunito;
}

.contact-field span {
    display: block;
    margin-top: 10%;
}

.media-links {
    display: block;
}

.footer-icons {
    display: flex;
    justify-content: space-between;
}

.icons {
    filter: brightness(0) invert(1);
    height: 30px;
    width: 30px;
    transition: transform 0.3s ease-in-out;
}

.icons:hover {
    transform: scale(1.35);
}


