* {
  color: white;
}

.welcome-container {
  display: block;
  text-align: center;
  font-family: Nunito;
}

.welcome-container h2 {
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 66px;
}

.welcome-container h3 {
  margin-bottom: 5%;
  font-size: 30px;
}

.homebox {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

.hometext {
  width: 30%;
  padding-top: 1%;
  border-radius: 8px;
  border: solid 1px var(--main-color);
}

.homeCard {
  background-color: rgba(31, 30, 30, 0.5);
  height: 370px;
  border-radius: 8px;
  border: solid 3px var(--main-color);
  text-align: center;
  width: 22%;
  transition: transform 0.3s ease-in-out;
}

.homeCard:hover {
  transform: scale(1.05);
}


.homeCard:hover,
.hometext:hover {
  border-color: var(--border-color);
}

.homepage-icon {
  height: 70px;
  width: 70px;
  margin-top: 5%;
}

.homeCard h2 {
  font-family: Nunito;
  font-size: 32px;
  color: white;
}

.btn {
  justify-content: center;
  color: black;
  border-color: var(--main-color);
  border-radius: 8px;
  font-family: Nunito;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  font-size: 17px;
  font-weight: bold;
  background: transparent;
  position: relative;
  transition: all 1s;
  overflow: hidden;
}

.btn:hover {
  color: black;
  background-color: var(--main-color);
  border-color: var(--border-color);
}

.btn::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: -40px;
  transform: skewX(45deg);
  background-color: var(--main-color);
  z-index: -1;
  transition: all 1s;
}

.btn:hover::before {
  width: 160%;
}

.homepageCards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15%;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .homepageCards {
    background-color: rgba(31, 30, 30, 0.5);
  }
  .homeCard {
    height: 330px;
  }
  .homeCard h2 {
    font-size: 20px;
  }
  .homeCard p {
    font-size: 12px;
  }
}