.userinput {
    display: flex;
    margin-bottom: 10px;
    color: black;
}

.modal-box {
    background-color: black;
}

input {
    border: 2px solid rgb(200, 200, 200);
    background-color: white;
    border-radius: 8px;
}

.modal-button {
    color: var(--main-color);
}
