
.moonphase-section h2 {
    font-size: 56px;
    text-align: center;
}

.moonbox {
    border: 1px solid #FDD99F;
    border-radius: 8px;
    background-color: rgba(31, 30, 30, 0.5);
    opacity: 0;
    animation: transition 1s ease-in-out 1s forwards;
    margin-bottom: 10%;
    padding: 4%;
    display: flex;
}

.moonbox p {
    font-family: Nunito;
    font-size: 18px;
}

.moonbox-left {
    width: 40%;
}

.inputs {
    width: 50%;
    margin-right: 5%;
}

.city-box {
    display: flex;
}

.moonbox-right {
    display: block;
    text-align: center;
    width: 65%;
}

.load {
    display: flex;
    justify-content: center;
    font-size: 40px;
}

.dateText {
     color: black;
     margin-right: 20px;
}

.dateBox {
    margin-top: 50px;
}

.moonBtn, .starBtn {
    margin-left: 30px;
}

.inputTitle {
    margin-top: 4%;
}

.moonimg, .starimg {
    opacity: 0;
    animation: transition .75s ease-in-out .75s forwards;
    height: 350px;
    width: 275px;
    border-radius: 8px;
    margin: 3%;
    border: solid 1px #FDD99F;
    transition: transform 0.3s ease-in-out;
}

.moonimg:hover {
    transform: scale(1.15);
}

@keyframes transition {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

.inputs {
    max-width: 190px;
    height: 44px;
    border-radius: .5rem;
    padding: 0 1rem;
    border: 2px solid transparent;
    font-size: 1rem;
    transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
  }
  
  .inputs:hover, .inputs:focus, .form:hover .input {
    outline: none;
    border-color:  var(--main-color);
  }
  
