
.login-box {
    background-color: rgba(31, 30, 30, 0.5);
    border: 1px solid #FDD99F;
    border-radius: 8px;
    padding: 2%;
    margin-top: 5%;
}

textarea {
    color: black;
    font-family: var(--main-font);
    border: 2px solid rgb(200, 200, 200);
    background-color: white;
    border-radius: 8px;
    font-size: 18px;
}

.login-box a {
    color: #FDD99F;
}

.login-box h2 {
    font-size: 36px;
}

.starPage h2 {
    text-align: center;
    font-size: 56px;
}

.postBox {
    background-color: rgba(31, 30, 30, 0.5);
    border: 1px solid #FDD99F;
    border-radius: 8px;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-bottom: 3%;
    padding-top: 1%;
    width: 70%;
    text-align: center;
}

.postBox:hover,
.login-box:hover {
  border-color: var(--border-color);
}

.thought-posts {
    display: flex;
    justify-content: center;
}

.postBtn {
    display: flex;
    justify-content: center;
}

.titleBox {
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: var(--main-font);
}

.titleText {
    font-size: 48px;
    font-family: var(--main-font);
}

.textBox, .comment-text {
    font-family: 'Quicksand';
    font-size: 20px;
}

.comment-box {
    background-color: rgba(31, 30, 30, 0.5);
    border: 1px solid #FDD99F;
    border-radius: 8px;
    padding: 3%;
}

.comment-box h2 {
    font-size: 36px;
}

