

.starPage {
    background-color: black;
    font-family: 'Quicksand', sans-serif;
}

textarea {
    color: black;
}

.addstarBox {
    border: 10px rgb(216, 49, 49);
}

.starBox {
    padding-left: 50px;
    padding-top: 20px;
    padding-right: 50px;
    background-color: black;
}

.postBox {
    border: 3px solid black;
    margin-bottom: 10px;
    background-color: #36454f;
}

.titleBox {
    margin-top: 10px;
    margin-bottom: 15px;
    border: 3px solid #695E93;
    background-color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

.titleText {
    font-size: 24px;
    color: rgb(139, 126, 255);
}

.usernameText {
}

.quoteText {
    font-family: 'Kalam';
}

.textBox {
    color: white;
    background-color: black;
    border: 3px solid black;
    border-left-color: #695E93;
    border-right-color: #695E93;
    font-family: 'Kalam';
}

.postBtn {
  background-image: radial-gradient(rgba(66, 1, 141, 0.2), #38393b);
  color: white;
  border: 0;
  border-radius: 6px;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  text-align: left;
  font-size: 18px;
}

.postBtn:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #262944 0 -3px 0 inset;
  transform: translateY(-1px);
}


